*, ::before, ::after{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    background-color: var(--background-color) ;
    height: 2rem;
    padding:.5rem;
    width:max-content;
    margin:2rem;
    text-align: center;
    position:relative;

    --border-size: 5px;
    --background-color: #999999;
    --accent-color: #0af;
    --scale:0;
    
}

.btn-pop-up::before{
   content:"";
   top:0;
   left:0;
   right:0;
   bottom:0;
   position:absolute;

   border:var(--border-size) solid var(--background-color);
   z-index:-1;

   transition:top, left, right, bottom, 300ms ease-in-out;
    
}

    


.btn-pop-up:hover::before,
.btn-pop-up:focus::before{
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}

.btn-slide::before{
 content: "";
 background-color:var(--accent-color) ;
 top:0;
 left:0;
 right:0;
 bottom:0;
 position:absolute;

 z-index:-1;
 transform:scaleX(var(--scale));
 transform-origin: left;
 transition: transform 350ms;
}
.btn-slide{
    z-index: 1;
    transition: color 350ms ease-in-out;

}
.btn-slide:hover{
 color:white;
}
.btn-slide:hover::before{
    --scale: 1;
}

.btn-circle::before{
    content: "";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:var(--background-color);
    position:absolute;
    border-radius:50%;
    transform: scale(1.5);
    z-index:-1;
    transition: transform 350ms ease-in-out;
    
}

.btn-circle:hover::before{
    transform: scale(0);
}
.btn-circle{
    overflow: hidden;
    z-index: 1;
    background-color:var(--accent-color);
    transition: color 350ms ease-in-out;
}
.btn-circle:hover{
    color:white;
}


.btn-underline::before{
    content:"";
    background-color: var(--accent-color);
    left:0;
    right:0;
    bottom:0;
    height:var(--border-size);
    position:absolute;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform, 350ms ease-in-out;
}
.btn-underline:hover::before{
    transform:scaleX(1);
}